{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/movies.css' %}">
</head>
<body>
    <div class="movies-container">
        {% for movies in object_list %}
        <div class="movies">
            <h1>CATALOGO</h1>
            {% if movies.image %}
            <img src="{{movies.image.url}}" alt="A picture of {{ movies.title }">
            {% endif %}
            <h2><a href="{% url 'movie_details' movies.pk %}">{{ movies.title }}</a></h2>
            <h4> {{ movies.genre }} </h4>
            <h6> {{ movies.release_date }} </h6>
            <p>{{ movies.description }} </p>
        </div>
        {% endfor %}
    </div>

</body>
</html>