

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>CATALOGO</h1>

    {% for movies in object_list %}               
    {% if movies.image %}
    <img src="{{movies.image.url}}" alt="A picture of {{ movies.title }">
    {% endif %}
    <h2>{{ movies.title }} </h2>
    <h4> {{ movies.genre }} </h4>
    <h6> {{ movies.release_date }} </h6>
    <p>{{ movies.description }} </p>
    
        {% endfor %}


</body>
</html>