{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/post.css' %}">

</head>
<body>
    <div class="post-container">
        {% for post in object_list %}
        <div class="post">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="A picture of {{ post.title }}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>